{% extends "answer_app/base.html" %}

{% block static-files %}{% endblock static-files %}

{% block title %}Let me answer that...{% endblock title %}
		
{% block content %}
	<h1> Let me answer that for you!</h1>
		
		<p> 
			<form action="{% url 'answer_app:index' %}" method='POST'>
				{% csrf_token %}
				<p>test</p>
				{{ form.question }}
				<p>other test</p>
				{{ form.user_email}}						
			<input type="submit" name="submitButton" value="submit"  />  
		</p>
{% endblock content %}
	</form>	<h3> Step 1: Ask a question. </h3>
			<br />
			<input type="text" name="question" placeholder="Go ahead...Ask me anything." /> 
			<br />
			<h3>Step 2: Enter your email address. </h3>
			<br />
			<input type="email" name="emailAddress" placeholder="Enter your email address." />
			<br />
			<h3>Step 3: Hit submit to get an answer from REAL PEOPLE! </h3>
			<br />
