<html>
	<head>
		<title> Let me answer that...</title>
		<link href= "style.css" type="text/css" rel="stylesheet" />
	</head>
		
	<body>
		<h1> Let me answer that for you!</h1>
		
		<p> 
			<form action="SubmissionReceipt.html">
			<h3> Step 1: Ask a question. </h3>
			<br />
			<input type="text" name="question" placeholder="Go ahead...Ask me anything." /> 
			<br />
			<h3>Step 2: Enter your email address. </h3>
			<br />
			<input type="email" name="emailAddress" placeholder="Enter your email address." />
			<br />
			<h3>Step 3: Hit submit to get an answer from REAL PEOPLE! </h3>
			<br />
			<input type="submit" name="submitButton" value="submit"  />  
			</form>
		</p>
		
	</body>
